.btn-blue {
	background-color: #fcbe38;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
	background-color: #ffd57b;
	color: white;
